<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>servlet.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidacionLogin</servlet-name>
        <servlet-class>servlet.ValidacionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>servlet.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMenu</servlet-name>
        <servlet-class>servlet.ControlMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMenuAdm</servlet-name>
        <servlet-class>servlet.ControlMenuAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>servlet.Salir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/ValidaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidacionLogin</servlet-name>
        <url-pattern>/ValidacionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMenu</servlet-name>
        <url-pattern>/ControlMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMenuAdm</servlet-name>
        <url-pattern>/ControlMenuAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
